# Development Environment
ENV=dev

# DB configuration
DB_TYPE=yourDatabase
DB_HOST=yourDatabase
DB_PORT=yourPort
DB_USERNAME=yourDBport
DB_PASSWORD=yourDBpassword
DB_DATABASE=yourDBtype

# Hash 
HASH_ROUNDS=hashRounds

# Secret Token
REFRESH_TOKEN_SECRET=yourEncodedSecretKey
ACCESS_TOKEN_SECRET=yourEncodedSecretKey

# Expiry
REFRESH_TOKEN_SECRET_EXPIRES_IN=expiryTime
ACCESS_TOKEN_SECRET_EXPIRES_IN=expiryTime
